/*
 * kses-bp-cm.dtsi - Device Tree Include file for KSES Bluepenguin CPU Module
 *
 *  Based sama5d3xcm.dtsi by Ludovic Desroches <ludovic.desroches@atmel.com>
 *
 *  Copyright (C) 2016 Keystone Electronic Solution,
 *                2016 John Eigelaar <john@kses.net>
 *
 * Licensed under GPLv2 or later.
 */

/ {
	compatible = "atmel,sama5d3", "atmel,sama5";

	chosen {
			bootargs = "console=ttyS0,115200 earlyprintk root=/dev/mmcblk0p1 rw rootfstype=ext4 root_opts=data=journal init=/sbin/init rescue=/dev/mtdblock1";
			stdout-path = "serial0:115200n8";
		};

	memory {
		reg = <0x20000000 0x20000000>;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <12000000>;
		};
	};

	ahb {
		apb {
			dbgu: serial@ffffee00 {
				status = "okay";
			};

			watchdog@fffffe40 {
				status = "okay";
			};
			
			spi0: spi@f0004000 {
				cs-gpios = <&pioD 13 0>, <&pioD 14 0>, <0>, <0>;
				status = "okay";

				flash0: m25p80@0 {	
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "spansion,s25sl12801";
					spi-max-frequency = <48000000>;
					reg = <0>;
					};

				flash1: m25p80@1 {	
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "spansion,s25sl12801";
					spi-max-frequency = <48000000>;
					reg = <1>;
					};				
			};


			/*
			 * i2c0 conflicts with ISI:
			 * disable it to allow the use of ISI
			 * can not enable audio when i2c0 disabled
			 */
			i2c0: i2c@f0014000 {
				wm8904: wm8904@1a {
					compatible = "wm8904";
					reg = <0x1a>;
				};
			};

			pinctrl@fffff200 {
				board {
					pinctrl_mmc1_cd: mmc1_cd {
						atmel,pins =
							<1 18 0x0 0x5>; /* PB18 GPIO with pullup deglitch */
					};

					pinctrl_usba_vbus: usba_vbus {
						atmel,pins =
							<3 6 0x0 0x4>; /* PD6 GPIO with deglitch */
					};					

					pinctrl_eth1_int: eth1_int {
						atmel,pins =
							<4 31 0x0 0x4>; /* PE31 GPIO  */
					};
				};	
			};
			
			mmc1: mmc@f8000000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_mmc1_clk_cmd_dat0 &pinctrl_mmc1_dat1_3 &pinctrl_mmc1_cd>;
				status = "okay";
				slot@0 {
					reg = <0>;
					bus-width = <4>;
					cd-gpios = <&pioB 18 0>;
				};
			};
			
		}; /* APB */

	};

	leds {
		compatible = "gpio-leds";

		d2 {
			label = "d2";
			gpios = <&pioE 25 GPIO_ACTIVE_LOW>;	/* PE25, conflicts with A25, RXD2 */
			linux,default-trigger = "heartbeat";
		};
	};
};
