/*
 * kses-bp-cm.dtsi - Device Tree Include file for KSES Bluepenguin CPU Module
 *
 *  Based sama5d3xcm.dtsi by Ludovic Desroches <ludovic.desroches@atmel.com>
 *
 *  Copyright (C) 2016 Keystone Electronic Solution,
 *                2016 John Eigelaar <john@kses.net>
 *
 * Licensed under GPLv2 or later.
 */

/ {
	compatible = "atmel,sama5d3", "atmel,sama5";

	chosen {
			bootargs = "console=ttyS0,115200 earlyprintk root=/dev/mmcblk0p1 rw rootfstype=ext4 root_type=ext4 root_opts=data=journal init=/sbin/init rescue=/dev/mtdblock1";
			stdout-path = "serial0:115200n8";
		};

	memory {
		reg = <0x20000000 0x20000000>;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <12000000>;
		};
	};

	ahb {
		apb {
			dbgu: serial@ffffee00 {
				status = "okay";
			};

			watchdog@fffffe40 {
				status = "okay";
			};
			
			spi0: spi@f0004000 {
				cs-gpios = <&pioD 13 0>, <&pioD 14 0>, <0>, <0>;
				status = "okay";

				flash0: m25p80@0 {	
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "spansion,s25sl12801";
					spi-max-frequency = <48000000>;
					reg = <0>;
					};

				flash1: m25p80@1 {	
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "spansion,s25sl12801";
					spi-max-frequency = <48000000>;
					reg = <1>;
					};				
			};


			/*
			 * i2c0 conflicts with ISI:
			 * disable it to allow the use of ISI
			 * can not enable audio when i2c0 disabled
			 */
			i2c0: i2c@f0014000 {
				wm8904: wm8904@1a {
					compatible = "wm8904";
					reg = <0x1a>;
				};
			};

			pinctrl@fffff200 {
				board {
					pinctrl_mmc1_cd: mmc1_cd {
						atmel,pins =
							<1 18 0x0 0x5>; /* PB18 GPIO with pullup deglitch */
					};

					pinctrl_usba_vbus: usba_vbus {
						atmel,pins =
							<3 6 0x0 0x4>; /* PD6 GPIO with deglitch */
					};					

					pinctrl_eth1_int: eth1_int {
						atmel,pins =
							<4 31 0x0 0x4>; /* PE31 GPIO  */
					};
					
					pinctrl_macb0_data_mii: macb0_data_mii {
						atmel,pins =
							<1 0 0x1 0x0	/* PB0 periph A GTX0, conflicts with PWMH0 */
							 1 1 0x1 0x0	/* PB1 periph A GTX1, conflicts with PWML0 */
							 1 2 0x1 0x0	/* PB2 periph A GTX2, conflicts with TK1 */
							 1 3 0x1 0x0	/* PB3 periph A GTX3, conflicts with TF1 */
							 1 4 0x1 0x0	/* PB4 periph A GRX0, conflicts with PWMH1 */
							 1 5 0x1 0x0	/* PB5 periph A GRX1, conflicts with PWML1 */
							 1 6 0x1 0x0	/* PB6 periph A GRX2, conflicts with TD1 */
							 1 7 0x1 0x0>;	/* PB7 periph A GRX3, conflicts with RK1 */
					};

					pinctrl_macb0_signal_mii: macb0_signal_mii {
						atmel,pins =
							<
							1 8 0x1 0x0	/* PB8 periph A GTXCK, conflicts with PWMH2 */
							1 9 0x1 0x0	/* PB9 periph A GTXEN, conflicts with PWML2 */
							1 10 0x1 0x0	/* PB10 periph A GTXER, conflicts with RF1 */
							1 11 0x1 0x0	/* PB11 periph A GRXCK, conflicts with RD1 */
							1 12 0x1 0x0	/* PB12 periph A GRXDV, conflicts with PWMH3 */
							1 13 0x1 0x0	/* PB13 periph A GRXER, conflicts with PWML3 */
							1 14 0x1 0x0	/* PB14 periph A GCRS, conflicts with CANRX1 */
							1 15 0x1 0x0	/* PB15 periph A GCOL, conflicts with CANTX1 */
							1 16 0x1 0x0	/* PB16 periph A GMDC */
							1 17 0x1 0x0>;	/* PB17 periph A GMDIO */							
					};

					
					
				};	
			};
			
			mmc1: mmc@f8000000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_mmc1_clk_cmd_dat0 &pinctrl_mmc1_dat1_3 &pinctrl_mmc1_cd>;
				status = "okay";
				slot@0 {
					reg = <0>;
					bus-width = <4>;
					cd-gpios = <&pioB 18 0>;
				};
			};
			
		}; /* APB */

	};

	leds {
		compatible = "gpio-leds";

		d2 {
			label = "d2";
			gpios = <&pioE 25 GPIO_ACTIVE_LOW>;	/* PE25, conflicts with A25, RXD2 */
			linux,default-trigger = "heartbeat";
		};
	};
};
